/* Header */

header {
  position: fixed;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background-color: var(--nav-color);
  backdrop-filter: blur(2px);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
  z-index: 99;
}

header .logo {
  color: var(--primary-color);
  flex-grow: 1;
}

header li {
  list-style: none;
  display: inline-block;
  padding: 8px;
  margin-right: 1.5rem;
}

header li a {
  display: inline-block;
  font-size: 18px;
  transition: all 0.3s ease;
}

header li a:hover {
  transform: scale(1.2);
  color: var(--primary-color);
}

header .menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 1.6rem;
  height: 1.6rem;
}

.menu #menu-toggle {
  position: absolute;
  width: inherit;
  height: inherit;
  opacity: 0;
  z-index: 5;
}

.menu span {
  display: block;
  position: relative;
  top: 0;
  width: 100%;
  height: 3px;
  background-color: var(--txt-color);
  border-radius: 2px;
  transition: 
    top 0.3s ease 0.3s,
    width 0.3s ease 0.3s,
    transform 0.3s ease;
}

.menu #menu-toggle:checked ~ span:nth-of-type(1) {
  top: 8px;
  transform: rotate(45deg);
  transition: 
    top 0.3s ease,
    transform 0.3s ease 0.3s;
}

.menu #menu-toggle:checked ~ span:nth-of-type(2) {
  width: 0;
  transition: 
    width 0.3s ease;
}

.menu #menu-toggle:checked ~ span:nth-of-type(3) {
  top: -8px;
  transform: rotate(-45deg);
  transition: 
    top 0.3s ease,
    transform 0.3s ease 0.3s;
}

@media only screen and (max-width: 992px) {
  header nav {
    order: 3;
    margin-left: 1rem;
  }

  header .menu {
    display: flex;
  }

  header ul {
    position: absolute;
    top: 4.4rem;
    right: calc(-1 * min(400px, 100vw) - 12px);
    padding: 1rem 0;
    border-bottom-left-radius: 1rem;
    background-color: var(--nav-color);
    box-shadow: rgba(0, 0, 0, 0.2) -4px 4px 8px -2px;
    transition: right 0.5s ease-out;
  }

  header ul.active {
    right: 0;
  }

  header li {
    display: list-item;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  header li a {
    width: 100vw;
    max-width: 400px;
    padding: 1rem;
  }
  
  header li a:hover {
    transform: unset;
    color: #ffffff;
    font-weight: bold;
    background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
  }
}