@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');
@import url('header.css');
@import url('footer.css');
@import url('wave.css');
@import url('title.css');
@import url('toggle-theme.css');

/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  /* outline: 1px solid red; */
}

a {
  text-decoration: none;
  color: inherit;
}

*:not(h1, h2) {
  font-family: 'Quicksand', sans-serif;
}

/* Root */

:root {
  --bg-color: white;
  --txt-color: #161616;
  --nav-color: #ffffffcc;
  --bg-secondary: #dfe2e7;
  
  --darken-color: #1a69fb;
  --primary-color: #0d99ff;
  --secondary-color: #49ccff;

  --txt-title: clamp(42px, 7vw, 54px);
  --txt-large: clamp(36px, 6vw, 42px);
  --txt-medium: 24px;
  --txt-normal: clamp(18px, 2vw, 20px);

  scroll-behavior: smooth;
  scroll-padding-top: 4.4rem;
}

.darkmode {
  --bg-color: #161616;
  --txt-color: white;
  --nav-color: #161616cc;
  --bg-secondary: #303134;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background: linear-gradient(-90deg, var(--primary-color), var(--secondary-color));
}

.btn-primary {
  display: inline-block;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 12px;
  background-color: var(--primary-color);
  color: var(--bg-color);
  border: unset;
  outline: unset;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: var(--darken-color);
}

/* Section */
section {
  padding: 2rem;
  min-height: 600px;
}

/* Home Section */

section#home {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8rem;
  padding-top: 4.4rem;
  padding-bottom: 2rem;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--bg-color);
  color: var(--txt-color);
}

#home p {
  display: inline-block;
  position: relative;
  font-size: var(--txt-medium);
  font-family: monospace;
  background-color: var(--txt-color);
  color: var(--bg-color);
}

#home p::before, 
#home p::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#home p::before {
  background-color: var(--bg-color);
  animation: typewriter 4s steps(12) infinite;
}

#home p::after {
  width: 6px;
  background-color: var(--txt-color);
  animation: 
    typewriter 4s steps(12) infinite,
    blink 1s linear infinite;
}

@keyframes typewriter {
  0% {
    left: 0;
  }
  40%, 80% {
    left: 100%;
  }
  96%, 100% {
    left: 0;
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#home h2 {
  margin: 4px 0 8px;
  font-size: var(--txt-large);
  cursor: default;
}

#home h2 span {
  font-family: inherit;
  transition: color 0.3s ease;
}

#home h2:hover span {
  color: var(--primary-color);
}

#home h3 {
  font-weight: normal;
  font-size: var(--txt-medium);
}

#home a {
  margin-top: 3rem;
}

#home picture {
  max-width: 368px;
}

#home picture img {
  position: relative;
  bottom: 1rem;
  width: 100%;
}

@media only screen and (max-width: 992px) {
  section#home {
    flex-direction: column-reverse;
    gap: 2rem;
  }

  #home picture {
    max-width: 300px;
  }

  #home picture img {
    bottom: 0;
  }
}

/* About Section */

section#about {
  padding: 3rem clamp(1rem, 5vw, 3rem);
  text-align: center;
}

#about > p {
  display: inline-block;
  max-width: 800px;
  font-size: var(--txt-normal);
  text-align: center;
}

#about article {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  gap: 1.5rem;
}

#about .card {
  min-height: 200px;
  max-height: 200px;
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  text-align: start;
  color: white;
  background-color: gray;
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

#about .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 1rem;
  gap: 8px;
  z-index: 12;
  text-shadow: 2px 3px 0 rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease;
}

#about .card:hover .card-body {
  transform: translateZ(30px);
}

.card h3 {
  width: max-content;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
}

.card p {
  max-width: 360px;
  font-size: 16px;
}

.card img {
  max-width: 160px;
  max-height: 160px;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  opacity: 0.25;
}

#about .card:nth-of-type(1) {
  grid-column: span 2;
  background: linear-gradient(90deg, #252451, #3d19a5);
}

#about .card:nth-of-type(2) {
  background: #6d42e8;
}

#about .card:nth-of-type(3) {
  background: #f46b46;
}

#about .card:nth-of-type(4) {
  background: #643fa0;
}

#about .card:nth-of-type(5) {
  grid-column: span 2;
  background: #f4c81a;
}

#about .card:nth-of-type(6) {
  background: #873535;
}

@media only screen and (max-width: 678px) {
  #about .card:nth-of-type(1) {
    grid-column: unset;
  }
}

@media only screen and (max-width: 1260px) {
  #about .card:nth-of-type(5) {
    grid-column: unset;
  }
}

/* Portfolio Section */
section#portfolio {
  padding: 3rem clamp(1rem, 5vw, 3rem);
}

#portfolio .container {
  margin-top: 3rem;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 4rem;
}

#portfolio .window {
  position: relative;
  width: 100%;
  max-width: 600px;
  background-color: var(--bg-color);
  color: var(--txt-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1rem;
  overflow: hidden;
}

#portfolio .window-title {
  position: relative;
  padding: 12px 2rem 0;
  background-color: var(--bg-color);
}

#portfolio .window-title h3 {
  position: relative;
  display: inline-block;
  padding: 8px 1.2rem;
  font-size: var(--txt-normal);
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-secondary);
  border-radius: 12px 12px 0 0;
}

.window-title h3::before,
.window-title h3::after {
  content: "";
  width: 1rem;
  height: 1rem;
  bottom: -8px;
  position: absolute;
  background-color: transparent;
  border-bottom: 8px solid var(--bg-secondary);
}

#portfolio .window-title h3::before {
  left: -1rem;
  border-radius: 0 0 1rem 0;
  border-right: 8px solid var(--bg-secondary);
}

#portfolio .window-title h3::after {
  right: -1rem;
  border-radius: 0 0 0 1rem;
  border-left: 8px solid var(--bg-secondary);
}

.window-title .decoration {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 120px;
}

.window-title .decoration::after {
  content: "";
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fdbb3d;
  border-radius: 50%;
  box-shadow: 26px 0 #f65152, -26px 0 #70cc82;
}

#portfolio .window-url {
  display: flex;
  gap: 8px;
  padding: 8px;
  background-color: var(--bg-secondary);
}

#portfolio .window-url > i {
  opacity: 0.8;
  transform: translateY(2px);
  cursor: default;
}

#portfolio .window-url a {
  position: relative;
  flex-grow: 1;
  display: inline-block;
  font-size: 12px;
  padding: 8px 1rem;
  padding-left: 2rem;
  font-family: 'Roboto', sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 2rem;
  background-color: var(--bg-color);
}

#portfolio .window-url a i {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  font-size: 1rem;
}

#portfolio .window-content {
  display: flex;
  justify-content: center;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

#portfolio .window-content img {
  width: 100%;
}

/* Contact Section */
section#contact {
  padding: 3rem clamp(1rem, 5vw, 3rem);
}

#contact form {
  max-width: 800px;
  background-color: var(--bg-color);
  margin: 2rem auto;
  padding: 3rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 16px;
}

#contact .field {
  position: relative;
  height: 3rem;
  margin-bottom: 1rem;

}

#contact .field:last-of-type {
  height: 6rem;
}

#contact :is(input, textarea) {
  outline: unset;
  border: unset;
  padding: 8px 1rem;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  background-color: var(--bg-color);
  color: var(--txt-color);
  border: 1px solid var(--txt-color);
  border-radius: 6px;
}

#contact textarea {
  padding: 15px 1rem;
  resize: none;
}

#contact label {
  position: absolute;
  top: -8px;
  left: 12px;
  padding: 0 8px;
  font-size: 12px;
  background-color: var(--bg-color);
  color: var(--txt-color);
  transition: 0.3s ease;
  transition-property: top, font-size;
}

#contact textarea:placeholder-shown ~ label,
#contact input:placeholder-shown ~ label {
  top: 12px;
  font-size: 1rem;
}

#contact textarea:focus ~ label,
#contact input:focus ~ label {
  top: -8px;
  font-size: 12px;
}

#contact textarea::placeholder,
#contact input::placeholder {
  visibility: hidden;
}

#contact #button {
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 1rem;
}