@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');
@import url('header.css');
@import url('footer.css');
@import url('wave.css');
@import url('toggle-theme.css');

/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  /* outline: 1px solid red; */
}

/* Root */

:root {
  --bg-color: white;
  --txt-color: #161616;
  --nav-color: #ffffffcc;
  
  --primary-color: #0d99ff;
  --secondary-color: #49ccff;

  scroll-behavior: smooth;
}

.darkmode {
  --bg-color: #161616;
  --txt-color: white;
  --nav-color: #161616cc;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  color: var(--txt-color);
  background: linear-gradient(-90deg, var(--primary-color), var(--secondary-color));
}

a {
  text-decoration: none;
  color: inherit;
}

*:not(h1, h2, h3, h4, h5, h6) {
  font-family: 'Quicksand', sans-serif;
}

/* Main */

section {
  position: relative;
  padding: 1rem;
  min-height: 600px;
}

section#home {
  background-color: var(--bg-color);
  margin-bottom: 8rem;
}