/* CSS Waves */

.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -9;
}

.wave {
  position: absolute;
  top: 100%;
  width: inherit;
  height: 100px;
  background: url(../img/wave.png);
  transform: rotate(180deg);
  background-size: 1000px 100px;
}

.darkmode .wave {
  filter: invert(0.915);
}

.wave:nth-child(1) {
  opacity: 1;
  animation: waving 30s linear infinite;
}

.wave:nth-child(2) {
  opacity: 0.5;
  animation: waving 14s linear infinite reverse;
  bottom: calc(100% + 8px);
}

.wave:nth-child(3) {
  opacity: 0.5;
  animation: waving 16s linear infinite;
  bottom: calc(100% + 16px);
}
.wave:nth-child(4) {
  opacity: 0.3;
  animation: waving 4s linear infinite reverse;
  bottom: calc(100% + 12px);
}

@keyframes waving {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 1000px;
  }
}