/* css content import */
@import url(content.css);

/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* outline: 1px solid red !important; */
}

h1 {
  font-family: 'Expletus Sans', cursive;
  color: var(--txtTheme);
}

h2, h3, h4, li {
  font-family: "Rubik", sans-serif;
  color: var(--txtTheme);
}

p, a {
  font-family: 'Palanquin', sans-serif;
  color: var(--txtTheme);
}

/* css variables */
:root {
  scroll-behavior: smooth;
  scroll-padding-top: 62px;
  --uiColor1: #f76e11;
  --uiColor2: #ff9f45;
  --uiColor3: #ffbc80;
  --uiColor4: #ffcc1d;
  --bgColor1: #ffffff;
  --bgColor2: #f7f7f7;
  --txtTheme: #151515;
  --plcHover: #525151;
}

/* header style */
header {
  width: 100%;
  height: 3.2rem;
  padding: 0 8px 0 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--uiColor1);
  z-index: 10;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.6);
}

header h1 {
  flex-grow: 1;
  text-align: left;
  font-size: 2rem;
  color: white;
}

header h1 i {
  position: relative;
  top: 4px;
  margin-right: 4px;
}

header .mode {
  width: 2.4rem;
  height: 2.4rem;
  margin: 0 1rem;
  padding: 4px;
  position: relative;
  background-color: var(--uiColor2);
  text-align: center;
  border-radius: 50%;
  transition: box-shadow 0.3s ease;
}

.mode:hover {
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.4),
              inset -2px -2px 3px rgba(255, 255, 255, 0.3);
}

.mode i {
  position: absolute;
  transform: translate(-50%, -50%) translateY(-1px);
  top: 50%;
  left: 50%;
  color: white;
  cursor: default;
}

.mode #toggle-mode {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 2;
  opacity: 0;
}

.mode:hover #toggle-mode {
  width: 2.5rem;
  height: 2.5rem;
}

nav .menu {
  display: none;
  position: relative;
  width: 1.6rem;
  height: 1.6rem;
}

.menu #toggle-menu {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 1.6rem;
  height: 1.6rem;
  opacity: 0;
}

.menu span {
  display: block;
  width: 100%;
  height: 5px;
  background-color: white;
  border-radius: 5px;
  transition: width 0.3s ease-out;
}

.menu #toggle-menu:checked ~ span:nth-child(3) {
  width: 80%;
}

.menu #toggle-menu:checked ~ span:nth-child(4) {
  width: 50%;
}

nav li {
  display: inline-block;
}

nav a {
  padding: 14px 12px;
  display: block;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-size: 1.2rem;
  color: white;
  transition: 0.4s ease;
  transition-property: background-color, box-shadow;
}

nav a:hover {
  background-color: var(--uiColor2);
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.6);
}

/* responsive menu style for small device */
@media only screen and (max-width: 680px) {
  header nav {
    margin-right: 8px;
  }

  nav .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  nav ul {
    padding: 8px 0 10px 0;
    position: absolute;
    top: 51px;
    right: -180px;
    background-color: var(--uiColor2);
    border-bottom-left-radius: 12px;
    transition: right 0.4s ease-out;
  }

  nav ul.active {
    right: 0;
  }

  nav li {
    display: block;
  }

  nav a {
    padding: 12px 2rem;
  }

  nav a:hover {
    background-color: var(--uiColor3);
  }
}

/* main style */
main {
  min-height: 1000px;
  padding-top: 3.2rem;
  background-color: var(--bgColor1);
}

/* footer style */
footer {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--uiColor1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
}

.copyright {
  font-family: "Rubik", sans-serif;
  color: rgba(255, 255, 255, 0.8);
  padding: 6px 10px;
}

.copyright b {
  margin-left: 4px;
  color: white;
  letter-spacing: 1px;
}

/* css scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track-piece {
  background-color: var(--bgColor2);
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 10px;
  border: 3px solid var(--bgColor2);
}