/*---- This file is containing css reset, navbar, footer, and element reveal ----*/

/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Screen Adjust */

html,
body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  min-width: 350px;
}
main {
  flex-grow: 1;
}

/* NavBar */

nav {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px 0 7px;
  background-color: rgb(31, 31, 31);
}

nav img {
  height: 40px;
  opacity: 0.8;
  filter: invert(100%);
}

.border-nav {
  border-left: 3px solid rgb(100, 100, 100);
  border-right: 3px solid rgb(100, 100, 100);
  height: 28px;
  flex-grow: 1;
  margin: 0 5px 0 7px;
  transition: 1s ease-out;
}

nav li {
  display: inline-block;
  margin-left: 3px;
}

nav a {
  display: inline-block;
  padding: 20px 12px;
  list-style: none;
  text-decoration: none;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  letter-spacing: -0.3px;
  color: rgb(200, 200, 200);
  transition: 0.5s ease;
}

nav #visited {
  padding-bottom: 16px;
  border-bottom: 4px solid rgb(200, 200, 200);
}

nav a:hover {
  color: white;
  background-color: rgba(100, 100, 100, 0.8);
  box-shadow: 0px 5px 8px -2px rgba(0, 0, 0, 0.9);
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(31, 31, 31);
}

.copyright {
  font-family: "Quicksand", sans-serif;
  color: rgb(200, 200, 200);
  padding: 6px 10px;
  margin-right: 10px;
  border-right: 3px solid rgb(100, 100, 100);
}

.copyright b {
  color: white;
}

.social-media {
  filter: invert(80%);
  height: 38px;
  position: relative;
  top: 0;
  margin-right: 5px;
  padding-top: 11px;
  transition: 0.5s ease;
}

.social-media:hover {
  filter: invert(100%);
  top: -5px;
}

/*---- Responsive | Small Devices ----*/

@media only screen and (max-width: 700px) {
  /* NavBar */
  .border-nav {
    border-right: 3px solid rgb(31, 31, 31);
  }
}

/*---- Delete this slash bellow to reveal all element ----*/
/* {
  border: 1px solid red;
}
